.details {
  display: grid;
  place-items: center;
}

table {
  border-collapse: collapse;
}

table tr td {
  padding: 0.5rem;
}

table tr {
  background: #ddd;
  font-size: 1.2rem;
}

table tr td:nth-of-type(odd) {
  font-weight: bold;
}

table h2 {
  color: red;
}

form {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  width: 30%;
  display: grid;
  place-items: left;
  gap: 0.5rem;
}

input {
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 2px;
  overflow-x: hidden;
}

.formButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.formButtons button,
.details button {
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  background: rgb(40, 206, 178);
  padding: 0.9rem 1.5rem;
  border-radius: 2px;
}

.details button {
  margin: 1rem;
}

footer {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  background: #ccc;
  font-size: 1.1rem;
}

@media (max-width: 799px) {
  label {
    width: 80%;
  }
}
